p {
  color: darkgrey;
}

.columns{
 float: left;
 width: 300px;
 background-color: grey;
 margin: 20px;
 padding: 15px;
}

.columns p{
  color: black;
  text-align: center;
}

.columns p a{
  text-decoration: underline;
  font-family: cursive;
}

.columns .name{
  color: pink;
  font-weight: bolder;
}

img{
  width: 250px;
}
